@use 'colors' as *;
@use 'typography' as *;

@mixin sans-serif($fs, $lh: 1, $ls: .15em, $tt: uppercase, $c: $gray) {
   font-family: $ff-ss;
   font-size: $fs;
   line-height: $lh;
   letter-spacing: $ls;
   text-transform: $tt;
   color: $c;
}

@mixin container($width: 90%, $max-width: 50em) {
   width: $width;
   max-width: $max-width;
   margin: 0 auto;
}

@mixin mq($width: 50em) {
   @media (min-width: $width) {
      @content;
   }
}