@use '../util' as *;

nav {
   position: absolute;
   top: 0;
   right: 20%;
   bottom: 0;
   left: 0;
   z-index: 10;

   transform: translateX(-100%);
   transition: transform ease-out 250ms;

   ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
   
      height: 100vh;
      background: $accent;
      padding: 0;
      margin: 0;
   
      list-style: none;
   }

   li {
      text-align: center;

      &:not(:last-of-type) {
         border-bottom: 1px solid $darkBlue;
      }

      &:hover {
         background: rgba($darkBlue, .5);
      }
   }

   a {
      display: inline-block;
      width: 100%;
      @include sans-serif($fs: 4rem, $c: $darkBlue);
      padding: calc(100vh/8) 0;
      //padding top e bottom dividido em 8 partes iguais da altura da tela
      line-height: 0; //para a altura do texto não contar no cálculo do padding
      text-decoration: none;
   }
}

.menu-button {
   position: absolute;
   top: 2em;
   left: 2em;
   background: transparent;
   border: 0;
   cursor: pointer;
}

.close-icon {
   display: none;
}

// .container-all {
//    transition: transform ease-out 250ms;
// }

.nav-is-open {
   nav {
      transform: translateX(0);
   }
   .container-all {
      transform: translateX(80%);
   }
   .hamburger {
      display: none;
   }
   .close-icon {
      display: block;
   }
   .menu-button {
      transform: translateX(-40%);
   }
   overflow: hidden;
}