@use '../util' as *;

.portfolio {
   text-align: center;
   background-color: $lightGray;
   padding: 5em 0;

   &-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      //gap: 1em;

      @include mq {
         grid-template-columns: repeat(4, 1fr);
      }

      @include container;
   }

   &-item {
      position: relative;
      overflow: hidden;

      &.featured {
         // Classe que obriga a imagem a ficar no topo do grid.
         grid-column: 1 / span 2; // Column: 1 /... -> has to start from the left
         grid-row: 1 / span 2; // Row: 1 /... -> has to start from the top
      }

      img {
         display: block;
      }

      figcaption {
         display: flex;
         flex-direction: column;

         position: absolute;
         top: 100%;
         right: 0;
         bottom: 0;
         left: 0;
         background-color: rgba($accent, .75);
         padding: 2em;

         color: $white;
         text-align: left;

         transition: top ease-in-out 250ms;
      }

      &:hover figcaption,
      &:focus figcaption {
         //:focus para funcionar no mobile clicando com o dedo
         top: 0;
      }
   }

   &-title {
      color: $white;
      font-size: 2.2rem;
      margin-bottom: auto;

      .featured & {
         font-size: 5rem;
      }
   }

   &-desc {
      display: none;

      .featured & {
         // & tbm pode ser usado para referenciar o seletor pai depois de outro seletor
         // Aqui estou dizendo que só o .portfolio-desc que for filho da classe .featured vai ter o display block
         display: block;
      }
   }

   &-link {
      color: $white;
      font-weight: $fw-b;
      font-size: .9rem;
      text-decoration: none;
      border-bottom: 3px solid $white;
      align-self: flex-start;
      // Por padrão, filhos de flex column são esticados até a ponta, align-self: start; está aqui para corrigir isso e deixar o border-bottom do tamanho do texto.

      &::after {
         content: url('../img/arrow-white.svg');
         display: inline-block;
         width: .8em;
         height: .8em;
         margin-left: .5em;
      }

      .featured & {
         font-size: 1.1rem;
      }
   }
}

.portfolio-modal {
   position: fixed;
   z-index: 10;
   top: 2em;
   right: 2em;
   bottom: 2em;
   left: 2em;
   background: $white;
   box-shadow: 0 0 0 3em rgba(black, .5);
   overflow-y: scroll;
   overflow-x: hidden;

   .modal-close {
      position: fixed;
      left: 1em;
      top: 1em;
      width: 2rem;
      height: 2em;
      background: $white;
      padding: 4px 0 0;
      border: 0;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(black, .5);
      cursor: pointer;
   }

   .portfolio-header {
      text-align: left;
      padding: 5em 0;
      margin-bottom: 2em;

      &:nth-of-type(1) {
         background-image: url('../img/portfolio-01.jpg');
         background-size: cover;
         background-position: center;
      }

      .portfolio-title-box {
         width: 70%;
         background: rgba($accent, .75);
         padding: 3em 0 3em 3em;
         color: $white;
   
         .portfolio-title {
            font-size: 3.5rem;
            display: inline-block;
   
            &::after {
               content: '';
               display: block;
               width: 100%;
               height: 1px;
               margin: .5em 0;
               background-color: $white;
            }
         }
   
         .portfolio-subtitle {
            font-size: 1rem;
         }
      }
   }
   
   .portfolio-content {
      text-align: left;
      width: 85%;
      margin: 0 auto;

      .portfolio-full-width {
         // A nice way to break an image outside a container:
         width: 100vw;
         max-width: initial;
         margin: 2em calc(50% - 50vw);
         height: 20vh;
         object-fit: cover;
      }

      @include mq {
         .portfolio-pull-left {
            width: 65%;
            float: left;
            margin-right: 2em;
            margin-bottom: 0.5em;
         }

         .portfolio-pull-right {
            width: 65%;
            float: right;
            margin-left: 2em;
            margin-bottom: 0.5em;
         }
      }
   }
}